{% extends 'base.html.twig' %}

{% block title %}Ajouter une Filière{% endblock %}

{% block body %}
<div class="container mx-auto my-10 max-w-lg p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-center text-2xl font-bold text-red-600 mb-6">Nouvelle Filiere</h2>
    <form  action="{{ path('filieres') }}" method="post">
        <div class="mb-4">
            <label for="libelle" class="block text-black-700 font-semibold mb-2">Libelle</label>
            <input type="text" name="libelle" id="libelle" placeholder="Entrez le libelle du Patient" class="w-full p-3 border border-gray-300 rounded-lg">

        </div>

        <button type="submit" class="w-full p-3 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-colors duration-300">
            Ajouter une filiere
        </button>
    </form>
</div>
{% endblock %}
